/* styles.css */

.pageHeader {
    position: sticky;
    top: 0;
    background: rgba(0, 0, 0, 0.8)
}


.center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
td {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
}
  
.galleryContainer {
    display: flex;
    align-items: center;
}

.galleryImage {
    padding: 10px 10px;
}

footer {
    text-align: center;
}
