/* styles.css */

header {
    position: sticky;
    top: 0;
    color: white;
    background-color: black;
}

.center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactForm{
}

label {
    grid-column: 2/3;
}
input {
    grid-column: 3/4;
}



footer {
    text-align: center;
}
