/* styles.css */

header {
    position: sticky;
    top: 0;
    color: white;
    background-color: black;
}

.center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactDetails{
    width:     310px;
    height:    240px;
    display: grid;
    grid-template-columns: 10px 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

label {
    grid-column: 2/3;
}
input {
    grid-column: 3/4;
}



footer {
    text-align: center;
}
